.map-detail-widget {
	z-index: 3;
}

.map-detail-widget .popover-content {
	padding: 0;
}

.widget-container {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.widget-image {
	display: block;
	overflow: hidden;
	max-width: 100px;
	max-height: 100%;
	object-fit: cover;
}