.map-hover-tip {
	position: fixed;
	z-index: 2;

	/* prevent causing mouseLeave when mouse touch it */
	pointer-events: none;

	text-align: center;

	/* make widget top and center */
	transform: translateX(-50%) translateY(-100%);
}